@import "utils/variables.scss";
@import "utils/functions.scss";
@import "utils/mixins.scss";

@import "base/base.scss";
@import "base/typography.scss";

@import "components/buttons.scss";

@import "layouts/header.scss";
@import "layouts/footer.scss";

@import "pages/presentation.scss";
@import "pages/localisation.scss";
