@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body, ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

.flex {
  display: flex;
}

.btn {
  height: 50px;
  width: 217px;
  border-radius: 1.5rem;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: linear-gradient(170deg, #FF79DA, #a16be0);
  box-shadow: 0 3px 8px #c2c2c2;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(170deg, #ffa2e5, #a978e3);
  box-shadow: 0 3px 8px darkgray;
}

.dishes {
  justify-content: space-between;
  background-color: #fff;
  margin-top: 14px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 3px 8px #c2c2c2;
  padding: 0;
  position: relative;
  /* Animations */
}
.dishes__text {
  width: 80%;
  transform: scaleX(1);
  transform-origin: left;
  transition: width 300ms 100ms linear;
  padding: 15px 0 15px 12px;
  justify-content: space-between;
}
.dishes__text .dish_name {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 5px;
  white-space: nowrap;
}
.dishes__text p {
  margin: 0;
  font-weight: 300;
  font-size: 0.95rem;
  text-overflow: ellipsis;
}
.dishes__price {
  align-self: flex-end;
  color: #363636;
  font-weight: 700;
  position: absolute;
  right: 15px;
  bottom: 15px;
  transform-origin: right;
  transition: transform 300ms 100ms linear;
}
.dishes .check__animation {
  display: flex;
  background-color: #99E2D0;
  width: 72px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms 100ms linear;
}
.dishes .check__animation .anim_icon {
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  transform: rotate(0deg);
  transition: transform 300ms 100ms linear;
}
.dishes:hover {
  cursor: pointer;
}
.dishes:hover .dishes__text {
  width: 60%;
}
.dishes:hover .dishes__text .dish_name, .dishes:hover .dishes__text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dishes:hover .check__animation {
  transform: scaleX(1);
}
.dishes:hover .anim_icon {
  transform: rotate(360deg);
}
.dishes:hover .dishes__price {
  transform: translateX(-72px);
}

.header_homepage {
  height: 62px;
}
.header_homepage img {
  margin: auto;
  width: 162px;
}

.header_pages {
  height: 62px;
  align-items: center;
  padding-right: 62px;
}
.header_pages a {
  width: 62px;
  height: 100%;
  color: #363636;
}
.header_pages a i {
  margin: auto;
  font-size: 1.3rem;
}
.header_pages h1 {
  flex: 1;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-weight: 500;
  font-size: 1.9rem;
}

footer {
  background-color: #363636;
  color: #fff;
  padding: 25px 25px 35px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  margin-bottom: 25px;
}
footer a {
  color: white;
  line-height: 1.8rem;
}
footer a i {
  width: 16px;
  margin-right: 10px;
}

.presentation {
  padding: 40px 25px 55px;
  background-color: whitesmoke;
  text-align: center;
}
.presentation h2 {
  margin-bottom: 15px;
}
.presentation p {
  margin-bottom: 30px;
  font-weight: 300;
}

.localisation {
  height: 50px;
  background-color: #ebebeb;
  color: #373737;
  box-shadow: inset 0 5px 4px -2px #ccc;
  font-size: 1.1rem;
}
.localisation i {
  margin-right: 15px;
}
.localisation p {
  margin: auto;
}

.operation {
  padding: 50px 20px 65px;
}
.operation h2 {
  margin-bottom: 30px;
}

.step {
  height: 72px;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.step__number {
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  color: #fff;
  border-radius: 1rem;
  z-index: 2;
}
.step__number span {
  margin: auto;
}
.step__text {
  position: relative;
  left: -12px;
  background-color: whitesmoke;
  border-radius: 1.1rem;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 3px 8px #c2c2c2;
}
.step__text i {
  width: 21px;
  color: #7D7D7D;
  margin: 0 25px 0 30px;
  font-size: 1.2rem;
}
.step__text:hover {
  background-color: #f4eefc;
}
.step__text:hover i {
  color: #9356DC;
}

.restaurants {
  padding: 55px 20px 60px;
  background-color: whitesmoke;
}
.restaurants h2 {
  margin-bottom: 25px;
}

.resto-prev {
  box-sizing: border-box;
  height: 250px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 3px 8px #c2c2c2;
}
.resto-prev__image {
  height: 173px;
  position: relative;
}
.resto-prev__image img {
  height: 177px;
  width: 100%;
  object-fit: cover;
}
.resto-prev__image .new {
  position: absolute;
  right: 10px;
  top: 13px;
  background-color: #99E2D0;
  color: #32b091;
  padding: 9px 12px;
  border-radius: 2px;
  font-weight: 600;
}
.resto-prev__description {
  height: 77px;
  background-color: #fff;
}
.resto-prev__description .descriptionText {
  flex: 1;
  padding-left: 12px;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
}
.resto-prev__description .descriptionText .restaurantName {
  font-weight: 700;
  margin-bottom: 5px;
}
.resto-prev__description .descriptionText p {
  margin: 0;
  font-weight: 300;
}
.resto-prev__description .descriptionHeart {
  width: 77px;
}
.resto-prev__description .descriptionHeart i {
  font-size: 2rem;
  margin: auto;
  cursor: pointer;
}
.resto-prev__description .descriptionHeart i:hover {
  font-weight: 600;
  color: #9356DC;
}

.main {
  background-color: #F5F5F5;
}

.restaurantPicture {
  height: 250px;
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center;
  background-size: cover;
}

.restaurant {
  border-radius: 2rem 2rem 0 0;
  padding: 40px 14px 40px;
  background-color: #F5F5F5;
  transform: translateY(-30px);
}
.restaurant h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  font-weight: 500;
}
.restaurant h3 {
  margin: 35px 0 0 6px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
.restaurant hr {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  border: none;
  margin: 5px 0 0 6px;
}
.restaurant_name {
  justify-content: space-between;
  align-items: center;
}
.restaurant_name i {
  font-size: 1.6rem;
  margin-right: 20px;
}
.restaurant .btn {
  display: block;
  margin: auto;
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
