.btn{
    height: 50px;
    width: 217px;
    border-radius: 1.5rem;
    border: none;
    color: $white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: linear-gradient(170deg, $secondary-color, lighten($primary-color, 5%));
    @include shadow_box;
    cursor: pointer;
}