.main{
    background-color: $gray-color;
}

.restaurantPicture{
    height: 250px;
    &.palette_du_gout{
        @include restaurant-bg-picture(palette-du-gout);
    }
    &.note_enchantee{
        @include restaurant-bg-picture(note-enchantee);
    }
    &.a_la_francaise{
        @include restaurant-bg-picture(a-la-francaise);
    }
    &.delice_des_sens{
        @include restaurant-bg-picture(delice-des-sens);
    }
}

.restaurant{
    border-radius: 2rem 2rem 0 0;
    padding: 30px 14px 40px;
    background-color: $gray-color;
    transform: translateY(-30px);
    h2{
        font-family: 'Shrikhand', cursive;
        font-size: 1.8rem;
        font-weight: 500;
    }
    h3{
        margin: 30px 0 0 6px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
        &::after{
            content: "";
            display: block;
            height: 3px;
            width: 40px;
            background-color: $tertiary-color;
            margin-top: 5px;
        }
    }
    &_name{
        justify-content: space-between;
        align-items: baseline;
        @include heart-transition;
        margin-right: 20px;
    }
    .btn{
        display: block;
        margin: auto;
        margin-top: 50px;
    }
}