.operation{
    padding: 50px 20px 65px;
    h2{
        margin-bottom: 30px;
    }

    @include breakpoints(tablet){
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 45px;
        h2{
            font-size: 1.9rem;
            &::before, &::after{
                content: "";
                display: inline-block;
                background-color: $primary-color;
                height: 2px;
                width: 75px;
                vertical-align: middle;
                margin: 0 10px;
            }
        }
    }
}

.operations-tab{
    width: 100%;
    @include breakpoints(tablet){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include breakpoints(desktop){
        flex-direction: row;
    }
}

.step{
    height: 72px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;

    &__number{
        background-color: $primary-color;
        height: 24px;
        width: 24px;
        color: $white;
        border-radius: 1rem;
        z-index: 2;
        font-size: .9rem;
        span{
            margin: auto;
        }
    }

    &__text{
        position: relative;
        left: -12px;
        @include gray-background;
        border-radius: 1.1rem;
        width: 100%;
        height: 100%;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        @include shadow_box;
        i{
            width: 21px;
            color: #7D7D7D;
            margin: 0 25px 0 30px;
            font-size: 1.2rem;
        }
        &:hover{
            background-color: lighten($primary-color, 36%);
            i{
                color: $primary-color;
            }
        }
    }
    @include breakpoints(tablet){
        width: 80%;
        &__number{
            font-size: 1.1rem;
        }
        &__text{
            font-size: 1.2rem;
            i{
                font-size: 1.4rem;
            }
        }
    }
}