.restaurants{
    padding: 55px 20px 60px;
    @include gray-background;
    h2{
        margin-bottom: 25px;
    }
}
.resto-prev{
    box-sizing: border-box;
    height: 250px;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 20px;
    @include shadow_box;
    &__image{
        height: 173px;
        position: relative;
        img{
            height: 177px;
            width: 100%;
            object-fit: cover;
        }
        .new{
            position: absolute;
            right: 10px;
            top: 13px;
            background-color: $tertiary-color;
            color: darken($tertiary-color, 30%);
            padding: 9px 12px;
            border-radius: 2px;
            font-weight: 600;
        }
    }
    &__description{
        height: 77px;
        background-color: $white;
        .descriptionText{
            flex: 1;
            padding-left: 12px;
            flex-direction: column;
            justify-content: center;
            font-size: 1.1rem;
            .restaurantName{
                font-weight: 700;
                margin-bottom: 5px;
            }
            p{
                margin: 0;
            }
        }
        .descriptionHeart{
            width: 77px;
            i{
                font-size: 2rem;
                margin: auto;
                cursor: pointer;
                &:hover{
                    font-weight: 600;
                    color: $primary-color;
                }
            }
        }
    }
}