.presentation{
    padding: 40px 25px 55px;
    background-color: #F5F5F5;
    text-align: center;
    h2{
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 30px;
        font-weight: 300;
    }
}