$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$gray-color:#F5F5F5;
$dark-gray: darken($gray-color, 75%);
$white:#fff;

$check-transition-width: 72px;
$menu-appear-delay: 200ms;
$max-dishes: 4;

$images-resto:(
    palette-du-gout: 'jay-wennington-N_Y88TWmGwA-unsplash.jpg',
    note-enchantee: 'stil-u2Lp8tXIcjw-unsplash.jpg',
    a-la-francaise: 'toa-heftiba-DQKerTsQwi0-unsplash.jpg',
    delice-des-sens: 'louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg'
);

$breakpoints-map:(
    tablet: 600px,
    desktop: 1024px
);