$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$gray-color:#F5F5F5;
$dark-gray: darken($gray-color, 75%);
$white:#fff;

$check-animation-width: 72px;
$menu-appear-delay: 150ms;
$max-dishes: 10;